// Copy this file to "Secrets.xcconfig" and fill values.
// "Secrets.xcconfig" is gitignored.

NOTION_ACCESS_TOKEN = xxxxxxxxxxxxx
NOTION_DATABASE_ID = xxxxxxxxxxxxx
INFOPLIST_KEY_NOTION_ACCESS_TOKEN = $(NOTION_ACCESS_TOKEN)
INFOPLIST_KEY_NOTION_DATABASE_ID = $(NOTION_DATABASE_ID)
